@charset "UTF-8";
/* Custom properties */
:root {
  --black: #131313;
  --white: #fafafa;
  --alpha: #f8f8f873;
  --shadow-first: #c9c9c9;
  --shadow-second: #ffffff;
  --border-black: #00000050;
  --marked: rgb(255, 242, 127);

  --principal-typo: Helvetica, Arial, sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --black: #fafafa;
    --white: #131313;
    --alpha: #49494973;
    --shadow-first: #302f2f;
    --shadow-second: #181717;
    --border-black: #ffffff93;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: blue;

  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
  /*position: relative;*/
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  font-weight: inherit;
  font-size: inherit;

  color: red;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

form,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

body {
  font-family: var(--principal-typo);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes appear {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes appearTitle {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes appearTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar__header {
  width: 100%;
  padding: 1em 5vw;
  background: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: appear 2s ease 1 both;
}
.navbar .navbar__a {
  font-size: 1.5em;
}
.navbar__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.navbar__li {
  margin: 0 1em;
  color: var(--marked);
}
.navbar__logo {
  width: 20%;
  height: 100%;
  display: flex;
}
.navbar__nav {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}
.navbar__nav .navbar__small {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.navbar__nav .navbar__transition .navbar__li, .navbar__nav .navbar__small .navbar__li{
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}
.navbar__nav .navbar__transition .navbar__a, .navbar__nav .navbar__small .navbar__li {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar__nav .navbar__transition .navbar__a:before, .navbar__nav .navbar__small .navbar__a::before {
  content: "";
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}
.navbar__nav .navbar__transition .navbar__a:hover, .navbar__nav .navbar__small .navbar__a:hover {
  color: #1b1b1b;
}
.navbar__nav .navbar__transition .navbar__a:hover:before, .navbar__nav .navbar__small .navbar__a:hover:before {
  width: 35px;
}
.navbar__nav.navbar__transition .show > .navbar__a:before,
.navbar__nav.navbar__transition .active > .navbar__a:before,
.navbar__nav.navbar__transition .navbar__a.show:before,
.navbar__nav.navbar__transition .navbar__a.active:before, .navbar__nav .navbar__small .show > .navbar__a:before,
.navbar__nav .navbar__small .active > .navbar__a:before,
.navbar__nav .navbar__small .navbar__a.show:before,
.navbar__nav .navbar__small .navbar__a.active:before  {
  width: 35px;
}
.navbar__nav .navbar__transition .navbar__a:before {
  background-color: #fff;
}
.navbar__nav .navbar__transition .navbar__a:hover {
  color: #fff;
}
.navbar__nav .navbar__transition .show > .navbar__a,
.navbar__nav .navbar__transition .active > .navbar__a,
.navbar__nav .navbar__transition .navbar__a.show,
.navbar__nav .navbar__transition .navbar__a.active {
  color: #fff;
}
.navbar__nav .navbar__small {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar__nav .navbar__small .navbar__a {
  color: #0078ff;
}

.navbar__nav .navbar__small .navbar__a:before {
  background-color: #0078ff;
}

.navbar__nav .navbar__small .navbar__a:hover {
  color: #0078ff;
}

.navbar__nav .navbar__small .show > .navbar__a,
.navbar__nav .navbar__small .active > .navbar__a,
.navbar__nav .navbar__small .navbar__a.show,
.navbar__nav .navbar__small .navbar__a.active {
  color: #0078ff;
}

.navbar__nav .navbar__small .navbar__brand {
  color: #0078ff;
}

.navbar__nav .navbar__small .navbar__button span {
  background-color: #1B1B1B;
}
.navbar__nav .navbar__brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.navbar__nav .navbar__ul .dropdown-item.show .dropdown-menu,
.navbar__nav .dropdown.show .dropdown-menu,
.navbar__nav .dropdown-btn.show .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}
.navbar__nav .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}
.navbar__nav .dropdown-menu .dropdown-item {
  padding: 0.7rem 1.7rem;
  transition: all 500ms ease;
}
.navbar__nav .dropdown-menu .dropdown-item:hover {
  background-color: #e19e38;
  color: #fff;
  transition: all 500ms ease;
}
.navbar__nav .dropdown-menu .dropdown-item.active {
  background-color: #e19e38;
}

/*HAMBURGER MENU*/
.navbar__button {
  position: relative;
}
.navbar__button:focus,
.navbar__button:active {
  outline: 0;
}
.navbar__button span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

/*SUBMENU NAV*/
.navbar__header .navbar__li:hover .submenu__ul{
  display: block;
  pointer-events: visible;
  opacity: 100%;
  transition: all .9s ease;
}
.navbar__header .submenu__ul{
  min-width: 18em;
  border-top: solid .75em var(--white);
  position: absolute;
  background-color: var(--grey-submenu);
  padding: 0 1em;
  pointer-events: none;
  opacity: 0%;
}
.navbar__header .submenu__li .submenu__item{
  margin: 1em 0;
  text-align: left;
  font-weight: 600;
  letter-spacing: .12em;
  color: var(--white);
}
.navbar__header .submenu__li .submenu__item:hover{
  color: var(--grey-hover);
}



/*HOME INTRO*/
.home {
  height: 100vh;
  position: relative;
  color: #fff;
}
.home .home__content {
  text-align: center;
  position: absolute;
}
.home .home__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.home .home__h1 {
  color: var(--black);
  font-weight: 600;
  font-size: 3rem;
  animation: appearTitle 2s ease 1 both 1s;
}
.home .home__p {
  font-size: 1.5rem;
  font-weight: 300;
  animation: appearTitle 2s ease 1 both 3s;
  color: var(--black);
}
.home .home__text-items {
  display: none;
}
.home__display {
  width: 100%;
  height: 100%;
  display: table;
}

.table {
  display: table-cell;
  vertical-align: middle;
}

.section {
  padding-top: 4rem;
}

.body .home {
  color: var(--white);
  background: url(../assets/img/intro-bg.jpg) no-repeat center center/cover fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/*PORTFOLIO SECTION*/
.works {
  text-align: center;
}
.works__grid {
  width: 100%;
  margin: 1em 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.box__title {
  margin-bottom: 4rem;
}
.works__article {
  position: relative;
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--black);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.works__article:hover img {
  transform: scale(1.3);
}
.works__img {
  display: block;
  overflow: hidden;
}
.works__img img {
  transition: all 1s;
}
.works__content {
  padding: 2rem 3% 1rem 4%;
}
.works__content .works__class {
  color: #4e4e4e;
  font-size: 0.8rem;
}
.works__content .works__class .works__category {
  color: lightblue;
}
.works__h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.works__h4 {
  font-size: 1.2rem;
}
.woks__p {
  color: #4e4e4e;
}
.works__article .works__h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--alpha);
  color: var(--white);
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 0;
}
.works .works__article:hover .works__h4 {
  opacity: 1;
}


/*WORK PAGE*/
.work__details {
  padding-top: 30px;
}
.work__details .work__container {
  position: relative;
}
.work__details .work__carousel {
  position: relative;
  z-index: 1;
}
.work__details .work__carousel .owl-nav,
.work__details .work__carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}
.work__details .work__carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}
.work__details .work__carousel .owl-dot.active {
  background-color: #e19e38 !important;
}
.work__details .work__info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.work__details .work__info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.work__details .work__info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.work__details .work__info ul li + li {
  margin-top: 10px;
}
.work__details .work__description {
  padding-top: 50px;
}
.work__details .work__description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.work__details .work__description p {
  padding: 0 0 0 0;
}

.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}
.button:focus {
  outline: 0;
}
.button:hover {
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
}
.line {
  width: 40px;
  height: 5px;
  background-color: var(--black);
  margin: 0 auto;
}

.bg__img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


/*FOOTER*/
.footer {
  width: 100%;
  min-height: 10vh;
  text-align: center;
  color: var(--black);
  padding: 5vw;
  background: var(--white);
}
.footer .footer__copy {
  margin-bottom: 0.3rem;
}
.footer .footer__credits {
  margin-bottom: 0;
}
.footer .footer__credits a {
  color: var(--black);
}

/*BACK TO TOP*/
.back-top {
  position: fixed;
  display: none;
  background: #e19e38;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
.back-top i {
  padding-top: 20px;
  padding-left: 90%;
  color: var(--black);
}



/*MEDIA*/
@media screen and (max-width: 1200px) {
  .navbar__header .navbar__ul {
    font-size: 0.9em;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 1024px) {
  .bg__img {
    background-attachment: scroll;
  }
  .navbar__header {
    position: relative;
  }
  .navbar__header .fas {
    font-size: 1.3em;
    color: var(--grey-submenu);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: initial;
    cursor: pointer;
  }
  .navbar__header .fas:hover {
    color: var(--grey-hover);
  }
  .navbar__header .navbar__collapse {
    width: 100%;
    background-color: var(--white);
    padding-bottom: 3.12em;
    position: absolute;
    top: 5.6em;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(-100%);
  }
  .navbar__header .navbar__collapse.ver {
    display: flex;
    opacity: 1;
    transform: translateX(0%);
  }
  .navbar__header .navbar__ul {
    width: 75%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__header .navbar__li {
    margin: 1em 0;
  }
}

@media screen and (max-width: 960px) {
  .main .works__grid {
    margin: 4em 0;
  }
  .main .works__box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .back-top {
    bottom: 15px;
  }
  .work__details .work__description h2 {
    width: 100%;
  }
  .work__details .work__info {
    position: static;
    margin-top: 30px;
  }
}

/*NAVBAR&INTRO*/
@media screen and (min-width: 768px) {
  .navbar__nav .navbar__transition .navbar__li, .navbar__nav .navbar__small .navbar__li {
    padding-left: 10px;
  }
  .navbar__nav .navbar__transition .navbar__a:before, .navbar__nav .navbar__small .navbar__a::before {
    margin-left: 18px;
  }
  .home .home__h1 {
    font-size: 4.5rem;
  }
  .home .home__p {
    font-size: 2.5rem;
  }
}
