@charset "UTF-8";
/* Custom properties */
:root {
  --black: #131313;
  --white: #fafafa;
  --alpha: #f8f8f873;
  --shadow-first: #c9c9c9;
  --shadow-second: #ffffff;
  --border-black: #00000050;
  --marked: rgb(250, 131, 51);

  --principal-typo: "Raleway", Helvetica, sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --black: #fafafa;
    --white: #131313;
    --alpha: #49494973;
    --shadow-first: #302f2f;
    --shadow-second: #181717;
    --border-black: #ffffff93;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: var(--alpha);

  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

p a {
  display: inline-flex;
}

li {
  list-style-type: none;
}
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  hyphens: auto;
  font-weight: inherit;
  font-size: inherit;

  color: var(--marked);
}
img {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
::selection {
  background-color: var(--black);
  color: var(--white);
}
form,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

body {
  font-size: 100%;
  font-family: var(--principal-typo);
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes appear {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes appearTitle {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes appearTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  /* padding: 2em 0; */
  text-transform: uppercase;
  top: 0;
  left: 0;
  z-index: 3;
}
.header .centered {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.header__logo {
  width: 30%;
  display: flex;
}
.header .centered .fa-bars {
  display: none;
}
.header .centered .header__h1 {
  max-width: 200px;
  font-size: 1.95em;
  font-weight: 800;
  letter-spacing: 0.15em;
  color: var(--black);
}
.header .centered .menu {
  width: calc(100% - 200px);
  font-size: 1.04em;
}
.header .centered .menu .menu__a {
  color: var(--marked);
}
.header .centered .menu .ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
}
.header .centered .menu .ul .li {
  margin: 0 0 0 4em;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.18em;
}
.header .centered .menu .ul .li .header__a {
  transition: all 0.2s ease;
}
.header .centered .menu .ul .li .header__a:hover {
  color: var(--marked);
}
.header .centered .menu .ul .item1 {
  position: relative;
  padding: 3.155em 0;
}
.header .centered .menu .ul .item1 .header__a {
  color: var(--black);
}
.header .centered .menu .ul .item1:hover .ul2 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item1 .ul2 {
  position: absolute;
  width: 420%;
  background-color: var(--white);
  padding: 0 1.5em;
  margin-top: 41.55px;
  border-top: 5px solid var(--marked);
  text-align: left;
  transform: translateX(-25px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item1 .ul2 .li2 {
  margin: 25px 0;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: none;
}
.header .centered .menu .ul .item1 .ul2 .li2 .header__a {
  color: #a6a6a6;
  transition: all 0.2s ease;
}
.header .centered .menu .ul .item1 .ul2 .li2 .header__a:hover {
  color: var(--marked);
}
.header .centered .menu .ul .item2 {
  position: relative;
  padding: 3.155em 0;
}
.header .centered .menu .ul .item2 .header__a {
  color: var(--black);
}
.header .centered .menu .ul .item2:hover .ul3 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item2 .li3:hover .fas {
  color: var(--marked);
}
.header .centered .menu .ul .item2 .ul3 {
  position: absolute;
  width: 235%;
  background-color: var(--white);
  padding: 0;
  margin-top: 41.55px;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-107px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item2 .ul3 .li3 {
  position: relative;
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
  padding: 20px 1.5em;
}
.header .centered .menu .ul .item2 .ul3 .li3 .header__a {
  color: #a6a6a6;
  transition: all 0.2s ease;
}
.header .centered .menu .ul .item2 .ul3 .li3 .header__a:hover {
  color: var(--marked);
}
.header .centered .menu .ul .item2 .ul3 .sub1 {
  position: absolute;
  width: 120%;
  background-color: var(--white);
  padding: 0 1.5em;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-240px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item2 .ul3 .sub1 .lisub {
  margin: 20px 0;
}
.header .centered .menu .ul .item2 .ul3 .sub2 {
  position: absolute;
  width: 120%;
  background-color: var(--white);
  padding: 0 1.5em;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-240px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item2 .ul3 .sub2 .lisub {
  margin: 20px 0;
}
.header .centered .menu .ul .item2 .ul3 .sub3 {
  position: absolute;
  width: 120%;
  background-color: var(--white);
  padding: 0 1.5em;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-240px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item2 .ul3 .sub3 .lisub {
  margin: 20px 0;
}
.header .centered .menu .ul .item2 .ul3 .sub4 {
  position: absolute;
  width: 120%;
  background-color: var(--white);
  padding: 0 1.5em;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-240px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item2 .ul3 .sub4 .lisub {
  margin: 20px 0;
}
.header .centered .menu .ul .item2 .first:hover .sub1 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item2 .second:hover .sub2 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item2 .third:hover .sub3 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item2 .fourth:hover .sub4 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item3 {
  position: relative;
  padding: 3.155em 0;
}
.header .centered .menu .ul .item3 .header__a {
  color: var(--black);
}
.header .centered .menu .ul .item3:hover .ul4 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item3 .li4:hover .fas {
  color: var(--marked);
}
.header .centered .menu .ul .item3 .ul4 {
  position: absolute;
  width: 490%;
  background-color: var(--white);
  padding: 0 1.5em;
  margin-top: 41.55px;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-150px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item3 .ul4 .li4 {
  color: #a6a6a6;
  margin: 25px 0;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: none;
}
.header .centered .menu .ul .item3 .ul4 .li4 .header__a {
  color: #a6a6a6;
  transition: all 0.2s ease;
}
.header .centered .menu .ul .item3 .ul4 .li4 .header__a:hover {
  color: var(--marked);
}
.header .centered .menu .ul .item3 .ul4 {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.header .centered .menu .ul .item3 .ul4 {
  opacity: 1;
  pointer-events: auto;
}
.header .centered .menu .ul .item3 .ul4 {
  position: absolute;
  width: 120%;
  background-color: var(--white);
  padding: 0 1.5em;
  margin-top: 155px;
  border-top: 5px solid var(--marked);
  text-align: right;
  transform: translateX(-243px);
  opacity: 0;
  pointer-events: none;
}
.header .centered .menu .ul .item3 .ul4 .lisub {
  margin: 20px 0;
}

/*MAIN INTRO*/
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}
.main .main__content {
  text-align: center;
  position: absolute;
}

.main .main__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.main .main__h1 {
  color: var(--black);
  font-weight: 600;
  font-size: 3rem;
  animation: appearTitle 2s ease 1 both 1s;
}
.main .main__p {
  font-size: 1.5rem;
  font-weight: 300;
  animation: appearTitle 2s ease 1 both 3s;
  color: var(--black);
}
.intro .text-slider-items {
  display: none;
}
.main__display {
  width: 100%;
  height: 100%;
}

.main__intro {
  width: 100%;
  min-height: 100vh;
  color: var(--black);
  background-image: url(../assets/img/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.container {
  padding: 400px 0;
}
.bg__img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  position: relative;
}

/*PORTFOLIO SECTION GRID*/
.works {
  text-align: center;
}
.section {
  padding-top: 4rem;
  width: 100%;
  min-height: 100vh;
  padding: 10vh 5vw;
  animation: aparecer2 2s ease 1 both;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.works__grid {
  width: 100%;
  padding: 20vh 0;
  margin: 1em 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.works__grid .centered {
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
/*Estilo del texto superpuesto*/
.works__title {
  margin-bottom: 4rem;
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.works__title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.works__title .works__p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.works__title .works__h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.works__article .works__h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background: var(--white); /*alpha*/
  color: var(--black);
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  opacity: 0;
} /**/

.works .works__article:hover .works__h4 {
  opacity: 1;
}
.works__article {
  position: relative;
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--black);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.works__article:hover img {
  transform: scale(1.3);
}
.works__img {
  display: block;
  overflow: hidden;
}
.works__img img {
  transition: all 1s;
}
.works__content {
  padding: 2rem 3% 1rem 4%;
}
.works__content .works__class {
  color: #4e4e4e;
  font-size: 0.8rem;
}
.works__content .works__class .works__category {
  color: lightblue;
}

.line {
  width: 40px;
  height: 5px;
  background-color: var(--black);
  margin: 0 auto;
}

/*WORK PAGE*/
.work__details {
  padding-top: 30px;
}
.work__details .work__container {
  position: relative;
}
/*IMG CAROUSEL*/
.work__carousel {
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  margin: 2em auto;
  position: relative;
  overflow: hidden;
  padding: 2em;
  background-color: var(--white);
  /* box-shadow: 20px 20px 40px var(--shadow-first), -20px -20px 40px var(--shadow-second); */
}
.work__image {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 10%;
  left: 10%;
  transition: all 0.5s ease;
  opacity: 0;
}
.work__image.ver {
  opacity: 1;
}
.slider__flecha {
  width: 2em;
  height: 2em;
  font-size: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  position: absolute;
  top: calc(50% - 2em);
  transition: all 0.5s ease;
  transform: scale(1);
  cursor: pointer;
  background-color: var(--white);
  /* box-shadow: 10px 10px 20px var(--shadow-first), -10px -10px 20px var(--shadow-second); */
}
.slider__flecha:hover {
  transform: scale(0.9);
}
.slider__flecha:active {
  transform: scale(1.1);
}
.slider__flecha.siguiente {
  right: 0.4em;
}
.slider__flecha.anterior {
  left: 0.4em;
}
.slider__ul {
  width: 100%;
  padding: 0.2em 0;
  position: absolute;
  bottom: 1em;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.slider__li {
  width: 1.2em;
  height: 1.2em;
  background: var(--marked);
  margin: 0.5em;
  transition: all 0.5s ease;
  background-color: var(--black);
  border-radius: 1em;
  /* box-shadow: 5px 5px 13px var(--shadow-first), -5px -5px 13px var(--shadow-second); */
  cursor: pointer;
}
.slider__li.ver {
  background: var(--marked);
}
.slider__li:hover {
  box-shadow: 2px 2px 5px var(--shadow-first),
    -2px -2px 5px var(--shadow-second);
}
.slider__li:active {
  box-shadow: 0px 0px 0px var(--shadow-first), 0px 0px 0px var(--shadow-second);
}
.work__details .work__info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
/*DUPLICATE TEXT*/
.work__title {
  margin-bottom: 4rem;
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.work__title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.work__title .works__p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.work__details .work__info .work__h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.work__info span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 0;
} 
.work__title .work__h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.work__li {
  color: var(--white);
}
.work__details .work__info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.work__details .work__info ul li + li {
  margin-top: 10px;
}
.work__details .work__description {
  padding-top: 20px;
}


/*ABOUT*/
.about{
  text-align: center;
}
.about__img {
  width: 20%;
  display: flex;
}
.about__title {
  margin-bottom: 4rem;
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.about__title span {
  position: relative;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.about__title .about__p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.about__title .about__h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.about__part .about__p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.about__part .about__title .about__h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.about__part {
  margin-bottom: 3rem;
}
.about__h2 {
  font-size: 2rem;
  position: relative;
}
.about__h2:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--marked);
  width: 100px;
  bottom: -12px;
}

/*CONTACT*/
.contact{
  text-align: center;
}
.contact__title {
  margin-bottom: 4rem;
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.contact__title span {
  position: absolute;
  top: 60px;
  background: var(--alpha);
  color: var(--black);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 0;
}
.contact__title .contact__p{
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.contact__mail{
  height: 200px;
  margin: inherit;
  position: relative;
  color: var(--marked); 
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}
.contact__part .abstract{
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}
.contact__part .contact__p {
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}
.contact__part .contact__h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.contact__part {
  margin-bottom: 3rem;
}
.contact__h2 {
  font-size: 2rem;
  position: relative;
}
.contact__h2:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--marked);
  width: 100px;
  bottom: -12px;
}


/*FOOTER*/
.footer {
  width: 100%;
  min-height: 50vh;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  /* padding: 5vw; */
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  text-align: center;
}
.footer .centered {
  width: 90%;
  max-width: 1100px;
}
.footer .centered .footer__copy {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0.3rem;
  transition: color 0.3s ease-in-out;
}
.footer .footer__credits {
  margin-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.footer .footer__credits .footer__a {
  color: var(--black);
}
.footer .centered .footer__line {
  width: 100%;
  max-width: 118px;
  height: 2px;
  background-color: var(--white);
  margin: 2.6em auto 4em;
}
.footer .centered .footer__ul {
  width: 100%;
  display: flex;
  /* font-size: 1.6em; */
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.footer .centered .footer__ul .footer__li {
  margin: 0 0.4em;
}
.footer .centered .footer__ul .footer__li .footer__a {
  width: 25px;
  min-height: 25px;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  /* font-size: 1.2em; */
  color: #393939;
  transition: all 0.5s ease;
}
.footer .centered .footer__ul .footer__li .footer__a:hover {
  background-color: var(--marked);
}
.footer .centered .footer__ul .footer__li .footer__a .fa-linkedin {
  position: relative;
  top: 1px;
  left: 1px;
}
.footer .footer__img {
  width: 10%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}

/*BACK TO TOP*/
.back-top {
  position: fixed;
  display: none;
  background: var(--black);
  color: var(--white);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
.back-top i {
  padding-top: 35%;
  padding-left: 35%;
  color: var(--marked);
}

/*MEDIA*/
@media screen and (max-width: 1180px) {
  body {
    font-size: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 2em 0;
  }
  .header .centered {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
  }
  .header .centered .h1 {
    margin: auto;
  }
  .header .centered .fa-bars {
    margin: 0 20px;
    display: flex;
    font-size: 1em;
    color: var(--black);
    cursor: pointer;
  }
  .header .centered .fa-bars:hover {
    color: var(--marked);
  }
  .header .centered .menu {
    display: none;
    width: 100%;
  }
  .header .centered .menu .ul {
    flex-direction: column;
    align-content: flex-start;
  }
  .header .centered .menu .ul .li {
    width: 100%;
    margin: 8px 0 0 5px;
  }
  .header .centered .menu .ul .li .a {
    margin-top: 12px;
    text-transform: none;
    font-weight: 500;
    font-size: 0.9em;
    color: #8d8d8d;
  }
  .header .centered .menu .ul .li .menu__a {
    margin: 12px 0 0 0;
    text-transform: none;
    font-weight: 500;
    font-size: 0.9em;
  }
  .header .centered .menu .ul .item1 {
    padding: 0px;
    border-top: 1px solid #dad2d2;
  }
  .header .centered .menu .ul .item1 .ul2 {
    display: none;
  }
  .header .centered .menu .ul .item2 {
    padding: 0px;
    border-top: 1px solid #dad2d2;
  }
  .header .centered .menu .ul .item2 .ul3 {
    display: none;
  }
  .header .centered .menu .ul .item3 {
    padding: 0px;
    border-top: 1px solid #dad2d2;
  }
  .header .centered .menu .ul .item3 .ul4 {
    display: none;
  }
  .header .centered .menu .ul .item4 {
    padding: 0px;
    border-top: 1px solid #dad2d2;
  }
  .header .centered .menu .ul .item4 .ul5 {
    display: none;
  }
  .header .centered .menu.ver {
    display: flex;
  }
}
@media screen and (max-width: 760px) {
  .works__grid .centered .works__img {
    width: 100%;
    margin: 0 0 3em;
  }
  .works__grid {
    margin: 4em 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5em;
  }

  .works {
    margin: 4em 0;
  }
  .work__details .work__description h2 {
    width: 100%;
  }
  .work__details .work__info {
    position: static;
    margin-top: 30px;
  }
  .footer__h2 {
    letter-spacing: 0.1em;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --white: black;
    --black: white;
  }

  .header .centered .fa-bars {
    color: white;
  }

  .footer .centered .footer__line {
    background-color: white;
  }

  .footer .centered .footer__ul .footer__li .footer__a {
    background-color: white;
  }
}
